.modern-bg {
  background-image: url("/call-of-duty/img/especificaoes/bg-features.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2.6rem 7.6rem 2.6rem 7.6rem;
}
.modern-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5rem 0rem 2rem 0rem;
}

.modern-header h2 {
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #f5f5f5;
  max-width: 40ch;
}
.modern-header #button {
  text-transform: uppercase;
  font-size: 0.8rem;
  background-color: #7bc42d;
  padding: 0.8rem 1.5rem;
  color: #110c09;
  border-radius: 2px;
}
.modern-header #button:hover {
  transition: 0.3s;
  background-color: #599b13;
  color: #f5f5f5;
}
.modern-img {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.modern-marca {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modern-marca h2 {
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #f5f5f5;
  font-style: normal;
}
.marcas {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  place-items: center;
  gap: 1.5rem;
}
.marcas div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 31px 45px 32px 45px;
}

#bg-1 .img-preta,
#bg-2 .img-preta,
#bg-3 .img-preta,
#bg-4 .img-preta {
  display: none;
}
#bg-1 .img-preta.bg-ativo,
#bg-2 .img-preta.bg-ativo,
#bg-3 .img-preta.bg-ativo,
#bg-4 .img-preta.bg-ativo {
  display: flex;
  height: 3rem;
}
#bg-1 .img-branca.bg-ativo,
#bg-2 .img-branca.bg-ativo,
#bg-3 .img-branca.bg-ativo,
#bg-4 .img-branca.bg-ativo {
  display: none;
}
#bg-1 .img-branca,
#bg-2 .img-branca,
#bg-3 .img-branca,
#bg-4 .img-branca {
  display: block;
  height: 3rem;
}
#bg-1.bg-ativo,
#bg-2.bg-ativo,
#bg-3.bg-ativo,
#bg-4.bg-ativo {
  border-radius: 1px;
  background-color: #f5f5f5;
  box-shadow: 0px 4px 70px rgba(255, 255, 255, 0.2);
}
#bg-1.bg-ativo h3,
#bg-2.bg-ativo h3,
#bg-3.bg-ativo h3,
#bg-4.bg-ativo h3 {
  color: #000;
}
#bg-1 h3,
#bg-2 h3,
#bg-3 h3,
#bg-4 h3 {
  text-transform: uppercase;
  color: #f5f5f5;
  margin-top: 1rem;
  font-size: 0.9rem;
}

@media (max-width: 912px) {
  .modern-bg {
    padding: 2rem 7rem;
  }
  .modern-header h2 {
    font-size: 1.1rem;
  }
  .modern-img {
    grid-template-columns: 1fr;
  }
  .marcas {
    justify-content: space-between;
  }
}

@media (max-width: 540px) {
  .modern-bg {
    padding: 2rem 3rem;
  }
  .modern-header {
    margin-top: 2rem;
  }
  .modern-header h2 {
    font-size: 0.7rem;
    max-width: 43ch;
  }
  .modern-header #button {
    padding: 0.7rem 1rem;
    font-size: 0.8rem;
  }

  .modern-marca {
    margin-top: 4rem;
  }
  .modern-marca h2 {
    font-size: 1rem;
  }
  .marcas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .marcas div {
    width: 100%;
    padding: 1.5rem 1.9rem;
  }

  #bg-1 .img-preta.bg-ativo,
  #bg-2 .img-preta.bg-ativo,
  #bg-3 .img-preta.bg-ativo,
  #bg-4 .img-preta.bg-ativo {
    height: 2rem;
  }
  #bg-1 .img-branca,
  #bg-2 .img-branca,
  #bg-3 .img-branca,
  #bg-4 .img-branca {
    height: 2rem;
  }
  #bg-1 h3,
  #bg-2 h3,
  #bg-3 h3,
  #bg-4 h3 {
    margin-top: 0.7rem;
    font-size: 0.5rem;
  }
}
@media (max-width: 414px) {
  .modern-header {
    display: block;
  }
  .modern-header h2 {
    margin-bottom: 1rem;
  }
  .modern-marca {
    margin-top: 2rem;
  }
  .modern-marca h2 {
    font-size: 0.83rem;
  }

  .marcas div {
    padding: 0.8rem 1.8rem;
  }
}

@media (max-width: 280px) {
  .modern-bg {
    padding: 2rem;
  }
  .modern-header {
    margin-top: 0rem;
  }

  .modern-header #button {
    padding: 0.6rem 0.8rem;
    font-size: 0.5rem;
  }
  .modern-img {
    gap: 0.9rem;
  }
  .modern-marca {
    margin-top: 2rem;
  }
  .modern-marca h2 {
    font-size: 0.61rem;
  }

  .marcas div {
    padding: 10px 15px 10px 15px;
  }
  #bg-1 .img-branca,
  #bg-2 .img-branca,
  #bg-3 .img-branca,
  #bg-4 .img-branca {
    height: 1.3rem;
  }
  #bg-1 .img-preta.bg-ativo,
  #bg-2 .img-preta.bg-ativo,
  #bg-3 .img-preta.bg-ativo,
  #bg-4 .img-preta.bg-ativo {
    height: 1.3rem;
  }
  #bg-1 h3,
  #bg-2 h3,
  #bg-3 h3,
  #bg-4 h3 {
    font-size: 0.5rem;
  }
}
