.banner-3 {
  background-image: url("/call-of-duty/img/principal/principal-4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 48rem;
  width: 100%;
}
@media (max-width: 1280px) {
  .banner-3 {
    height: 30rem;
    padding-bottom: 44.6rem;
  }
}
@media (max-width: 1024px) {
  .banner-3 {
    height: 27rem;
    padding-bottom: 37rem;
  }
}
@media (max-width: 912px) {
  .banner-3 {
    padding-bottom: 31rem;
  }
}
@media (max-width: 820px) {
  .banner-3 {
    height: 26rem;
    padding-bottom: 26rem;
  }
}

@media (max-width: 540px) {
  .banner-3 {
    height: 10rem;
    padding-bottom: 17rem;
  }
}

@media (max-width: 414px) {
  .banner-3 {
    height: 10rem;
    padding-bottom: 12rem;
  }
}
@media (max-width: 280px) {
  .banner-3 {
    height: 10rem;
    padding-bottom: 10rem;
  }
}
