.banner-2-bg {
  background-image: url("/call-of-duty/img/principal/principal-3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.banner {
  padding-top: 34.8rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

.banner h2 {
  padding: 0rem 15.7rem 0rem 17rem;
  font-style: normal;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #f5f5f5;
  letter-spacing: 0.1rem;
  line-height: 1.1;
  font-weight: 400;
}
.b-h-2 {
  margin-bottom: 1rem;
  padding: 0rem 6rem 0rem 6rem;
}
.banner p {
  font-family: "TT Firs Neue", Arial, Helvetica, sans-serif;
  color: #f5f5f5;
  font-size: 0.9rem;
  line-height: 1.1;
  padding: 0rem 20rem 0rem 20rem;
}
.banner .p-site {
  padding: 0rem 13rem 4rem 13rem;
}

@media (max-width: 1024px) {
  .banner {
    padding-top: 25rem;
  }
  .banner h2 {
    padding: 0rem 10rem 0rem 10rem;
  }
  .banner p {
    padding: 0rem 10rem 0rem 10rem;
  }
}
@media (max-width: 1024px) {
  .banner {
    padding-top: 22rem;
  }
  .banner .p-site {
    padding: 0rem 10rem 1.5rem 10rem;
  }
}
@media (max-width: 820px) {
  .banner {
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 20rem;
  }
  .banner h2 {
    font-size: 1.2rem;
  }
  .banner p {
    padding: 0rem 5rem 0rem 5rem;
  }
}
@media (max-width: 540px) {
  .banner {
    padding: 13rem 3rem 2rem 3rem;
  }
  .banner h2 {
    font-size: 0.9rem;
    padding: 0rem;
  }
  .banner p {
    font-size: 0.67rem;
    padding: 0rem;
  }
  .banner .p-site {
    padding: 0rem;
  }
}
@media (max-width: 414px) {
  .banner {
    padding: 10rem 1.5rem 1.5rem;
    align-items: start;
  }

  .banner h2 {
    font-size: 0.8rem;
  }
  .b-h-2 {
    margin-bottom: 0.6rem;
  }
  .banner p {
    font-size: 0.87rem;
  }
}
@media (max-width: 280px) {
  .banner {
    padding: 1.5rem;
  }
  .banner h2 {
    font-size: 0.79rem;
  }

  .banner p {
    font-size: 0.7rem;
  }
}
