.heroes-bg {
  background-image: url("/call-of-duty/img/especificaoes/bg-features.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2.6rem 7.6rem 2.6rem 7.6rem;
}
.heroes-bg > h2 {
  color: #f5f5f5;
  text-transform: uppercase;
  font-size: 1.69rem;
  padding-bottom: 2rem;
}
.heroes {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5rem;
}

.heroes-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 0.5rem;
  gap: 2rem;
}
.heroes-dt-f {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2.2rem;
}

.dt-titulo {
  text-transform: uppercase;
  color: #f5f5f5;
  font-size: 1rem;
  line-height: 1.3rem;
  letter-spacing: 0.1rem;
  padding: 0.8rem 0.8rem 2rem 0.2rem;
}
.heroes-dt-f li h2 {
  text-transform: uppercase;
  color: #7bc42d;
  font-size: 1.1rem;
  padding-bottom: 1rem;
}
.heroes-dt-f li p {
  text-transform: uppercase;
  color: #f5f5f5;
  font-family: "TT Firs Neue", Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
  margin-bottom: 2rem;
}
.heroes-dt-weapons h2 {
  text-transform: uppercase;
  color: #7bc42d;
  font-size: 1.1rem;
  padding-bottom: 1rem;
}
.heroes-dt-weapons p {
  font-family: "TT Firs Neue", Arial, Helvetica, sans-serif;
  color: #a09e9d;
  font-size: 0.91rem;
  line-height: 1.2;
  padding-bottom: 2rem;
}
.heroes-bio h2 {
  text-transform: uppercase;
  color: #7bc42d;
  font-size: 1.1rem;
}
.heroes-bio h3 {
  text-transform: uppercase;
  color: #f5f5f5;
  font-size: 0.9rem;
  margin-top: 1rem;
  margin-bottom: 0.6rem;
}
.heroes-bio p {
  font-family: "TT Firs Neue", Arial, Helvetica, sans-serif;
  line-height: 1.2;
  color: #a09e9d;
  font-size: 0.94rem;
}

#h-1 h3,
#h-2 h3,
#h-3 h3,
#h-4 h3,
#h-5 h3 {
  text-transform: uppercase;
  font-size: 0.77rem;
  padding-top: 0.5rem;
  margin-bottom: 2rem;
  color: #6c6967;
}
#h-1 h3#h-1.ativo,
#h-2 h3#h-2.ativo,
#h-3 h3#h-3.ativo,
#h-4 h3#h-4.ativo,
#h-5 h3#h-5.ativo {
  color: #f5f5f5;
}

#h-1.h-p,
#h-2.h-p,
#h-3.h-p,
#h-4.h-p,
#h-5.h-p {
  display: grid;
}
#h-1.h-p.ativo,
#h-2.h-p.ativo,
#h-3.h-p.ativo,
#h-4.h-p.ativo,
#h-5.h-p.ativo {
  display: none;
}
#h-1.h-c.ativo,
#h-2.h-c.ativo,
#h-3.h-c.ativo,
#h-4.h-c.ativo,
#h-5.h-c.ativo {
  display: grid;
}
#h-1.h-c,
#h-2.h-c,
#h-3.h-c,
#h-4.h-c,
#h-5.h-c {
  display: none;
}
.heroes-info img#h-1.ativo,
.heroes-info img#h-2.ativo,
.heroes-info img#h-3.ativo,
.heroes-info img#h-4.ativo,
.heroes-info img#h-5.ativo {
  display: grid;
}
.heroes-info img#h-1,
.heroes-info img#h-2,
.heroes-info img#h-3,
.heroes-info img#h-4,
.heroes-info img#h-5 {
  display: none;
}
#h-1.dt-titulo.ativo,
#h-2.dt-titulo.ativo,
#h-3.dt-titulo.ativo,
#h-4.dt-titulo.ativo,
#h-5.dt-titulo.ativo {
  display: grid;
}
#h-1.dt-titulo,
#h-2.dt-titulo,
#h-3.dt-titulo,
#h-4.dt-titulo,
#h-5.dt-titulo {
  display: none;
}
.heroes-dt-f li p#h-1.ativo,
.heroes-dt-f li p#h-2.ativo,
.heroes-dt-f li p#h-3.ativo,
.heroes-dt-f li p#h-4.ativo,
.heroes-dt-f li p#h-5.ativo {
  display: flex;
}
.heroes-dt-f li p#h-1,
.heroes-dt-f li p#h-2,
.heroes-dt-f li p#h-3,
.heroes-dt-f li p#h-4,
.heroes-dt-f li p#h-5 {
  display: none;
}

@media (max-width: 1280px) {
  .heroes-dt-f li h2,
  .heroes-bio h2,
  .heroes-dt-weapons h2,
  .dt-titulo {
    font-size: 0.9rem;
  }
  .heroes div h3 {
    font-size: 0.71rem;
  }
}

@media (max-width: 1024px) {
  .heroes-bg {
    padding: 3rem 7rem 2.6rem 7rem;
  }
  .heroes-dt-f {
    gap: 1rem;
  }
  .dt-titulo {
    padding-bottom: 0.8rem;
  }
  .heroes div h3 {
    font-size: 0.61rem;
  }
  .heroes {
    gap: 2rem;
  }
  .heroes-dt-f h2 {
    font-size: 0.8rem;
  }
  .heroes-info img {
    height: 100%;
  }
  .heroes-dt-f p,
  .heroes-dt-weapons p,
  .heroes-bio p {
    font-size: 0.7rem;
  }
  .heroes-dt-f li p {
    margin-bottom: 0.6rem;
  }
  .heroes-dt-weapons p {
    padding-bottom: 0.6rem;
  }
  .heroes-dt-weapons h2 {
    padding-bottom: 0.6rem;
  }
  .heroes-bio h3 {
    margin-top: 0.5rem;
  }
}

@media (max-width: 912px) {
  .heroes {
    overflow-x: scroll;
  }
  .heroes img {
    max-width: 20rem;
  }
  .heroes div h3 {
    font-size: 1.2rem;
  }

  .heroes-info {
    grid-template-columns: 1fr;
  }
  .heroes-info img {
    width: 100%;
  }
  .heroes-dt-f {
    grid-template-columns: 1fr 1fr;
  }
  .dt-titulo {
    font-size: 1.5rem;
    padding: 0rem 0rem 1.5rem 0rem;
  }
  .heroes-dt-f li h2,
  .heroes-bio h2,
  .heroes-dt-weapons h2 {
    font-size: 2rem;
  }
  .heroes-bio h3 {
    font-size: 1rem;
    margin-top: 1rem;
  }
  .heroes-dt-f li p {
    font-size: 1.5rem;
  }
  .heroes-dt-weapons p,
  .heroes-bio p {
    font-size: 1.2rem;
  }
  .heroes-bio h3 {
    font-size: 1.4rem;
  }
}

@media (max-width: 540px) {
  .heroes-bg {
    padding: 2rem 3rem 2rem 3rem;
  }
  .heroes img {
    max-width: 13rem;
  }
  .heroes-bg > h2 {
    font-size: 1.5rem;
    padding-bottom: 1rem;
  }
  .heroes div h3 {
    font-size: 1rem;
    margin-bottom: 1.3rem;
  }
  .heroes-info {
    gap: 0.5rem;
  }
  .heroes-dt-f li h2,
  .dt-titulo,
  .heroes-bio h2,
  .heroes-dt-weapons h2 {
    font-size: 0.98rem;
  }
  .heroes-dt-f {
    gap: 1rem;
  }
  .heroes-bio h3 {
    font-size: 0.8rem;
    margin-top: 0.6rem;
  }

  .heroes-dt-weapons p,
  .heroes-bio p,
  .heroes-dt-f li p {
    font-size: 0.8rem;
  }
}

@media (max-width: 280px) {
  .heroes-bg {
    padding: 2rem;
  }
  .heroes-bg > h2 {
    font-size: 1rem;
  }
  .heroes-dt-f {
    gap: 0.7rem;
  }
  .dt-titulo {
    padding-bottom: 0.8rem;
  }
  .heroes-dt-f li h2,
  .dt-titulo,
  .heroes-bio h2,
  .heroes-dt-weapons h2 {
    font-size: 0.7rem;
  }
  .heroes-dt-weapons p {
    padding-bottom: 1rem;
  }
  .heroes-dt-weapons p,
  .heroes-bio p,
  .heroes-dt-f li p {
    font-size: 0.7rem;
  }
  .heroes-bio h3 {
    font-size: 0.7rem;
  }
}
